

    <div class="row">
            <div class="col">
                <p class="text-center">Powered by <a href="https://serverghost.io">serverghost</a></p>
            </div>
    </div> 

</body>
</html>