<% include partials/header %>

<h1>This is the campgrounds page</h1>

<a href="/campgrounds/new">Add new Campground</a>

<% campgrounds.forEach(function(campground){%>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" alt="<%= campground.name %>">
    </div>
<%}); %>

<a href="/">Go home</a>

<% include partials/footer %>