p {
    font-family: "Poppins";
    font-weight: 700;
    padding-bottom: 1.66667%;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    text-transform: uppercase;
    border-bottom: 3px solid gray;
}

img {
    width: 30%;
    margin: 1.66667%;
    float: left;
}